.env

/node_modules

package-lock.json

google-sheets-credentials.json
/src/TestVocacional/google-credentials.json
/src/TestVocacional/google-credentials2.json
/src/TestVocacional/google-credentials3.json
